{% extends "layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
    <link rel="stylesheet" href="portfolio.css">
{% endblock %}

{% block content %}

    <div class="foods">

        {% for item in items %}
            <div class="food" id="{{item.id}}">

                <img src="{{item.id}}" alt="{{item.title}}">

                <p class="food-name">{{item.title}}</p>

                <p class="food-author">{{item.author}}</p>

            </div>
        {% endfor %}

        <script src="script.js"></script>

    </div>
{% endblock %}