{% extends "layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
    <link rel="stylesheet" href="recipe.css">
{% endblock %}

{% block content %}

    <div class="foods">
        <div class="food" id="{{item.id}}">
            <img src="{{item.id}}" alt="{{item.title}}">
            <p class="food-name">{{item.title}}</p>
            <p class="food-author">{{item.author}}</p>
        </div>
    </div>
    
    <div class="ingridients">
        <h1>Ingredientes</h1>
        <p>{{item.ingredients}}</p>
    </div>

    <div class="preparation">
        <h1>Modo de preparo</h1>
        <p>{{item.preparation}}</p>
    </div>

    <div class="information">
        <h1>Informações adicionais</h1>
        <p>{{item.information}}</p>
    </div>


{% endblock %}