.recipe {
    font-weight: bold;
}

.foods {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px; 
}

.food {
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 15px;
}

.food img{
    border-radius: 15px;
    border-radius: 15px;
    width: 300px;
    height: 140px;
}

.food-name {
    font: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.food-author {
    font-size: 14px;
    opacity: 0.5;
}

